html {
  font-size: 10px;
  font-family: Raleway, "Helvetica Neue", Arial, Helvetica, Verdana, sans-serif;    
}
html,
body {
	height: 100%;
}
%navbar-long {
  height: 60px;
  background-color: $mine-shaft;
}