@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i');
.mobile {
  display: none;
}
@media screen and (min-width: 500px) {
  .mobile {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    background: red;
    z-index: 1;
    h1 {
      color: white;
      font-size: 10rem;
    }
  }
}
body {
  background: $concrete;
}
.navbar {
  color: white;
  text-align: center;
}
input[type=checkbox] {
  display: none;
}
.navbar-top-menu {
  @extend %navbar-long;
  display: flex;
  align-items: center;
  justify-content: center;
  span::before,
  span {
    font-size: 4.5rem;
    display: inline-block;
  }
}
.navbar-dropdown {
  display: none;
}
#menu-dropdown:checked + .navbar-dropdown {
  position: absolute;
  display: block;
  z-index: 1;
  left: 0;
  right: 0;
  background-color: white;
  text-align: left;
  a {
    font-size: 1.8rem;
    margin: 15px 0;
    padding: 10px 15px;
    display: block;
    border-bottom: 1px solid rgba($mine-shaft, 0.1);
    color: $gray-ish-mine-shaft;
    text-decoration: none;
  }
  ul li {
    width: 100%;
  }
  li {
    padding-left: 10px;
    display: block;
  }
  a.title {
    font-weight: bold;
  }
  a:last-of-type {
    margin-bottom: 0;
  }
  border-bottom: 3px solid $mine-shaft;
}
.navbar-social {
  position: relative;
  @extend %navbar-long;
  border-top: 1px solid $ligther-mine-shaft;
  .icons {
    height: 100%;
    display: inline-block;
    margin-left: 30px;
  }
  .social-link {
    transition: all 0.1s ease-out;
    display: inline-block;
    font-size: 1.6rem;
    height: 100%;
    width: 33px;
    text-align: center;
    &:hover {
      background: rgb(15, 15, 15);
      transition: all 0.1s ease-out;
    }
    a {
      color: white;
      text-decoration: none;
    }
    span {
      display: inline-block;
      padding: 21.5px 0;
    }
  }
  .search-box,
  .icons {
    display: inline-block;
  }
  .search-box {
    float: right;
    position: relative;
    width: 60px;
    height: 100%;
    background-color: $ligther-mine-shaft;
    font-size: 2.5rem;
    text-align: center;
    padding: 17.5px 0;
  }
  .search-box-input {
    display: none;
    position: absolute;
    padding: 15px;
    background-color: $ligther-mine-shaft;
    input {
      border: 0;
      outline: 0;
      background-color: $ligther-mine-shaft;
      color: white;
      text-transform: uppercase;
      letter-spacing: 0.6px;
    }
    input::placeholder {
      text-transform: uppercase;
      letter-spacing: 0.6px;
      opacity: 0.8;
    }
  }
  #search:checked + .search-box-input {
    display: block;
    position: absolute;
    right: 0;
  }
}
.logo-wrapper {
  width: 100%;
  background: $cod-gray;
  padding: 60px 0;
  .logo-image,
  .logo-link {
    max-width: 313px;
    height: auto;
  }
}
.aboutme {
  width: 100%;
  font-size: 1.8rem;
  div {
    display: inline-block;
  }
  .aboutme-text {
    padding: 4rem 2rem 2rem 2rem;
    box-shadow: 0px 2px 15px rgba($mine-shaft, 0.1);
    background: white;
    .title {
      padding: 1.5rem;
      font-size: 3.5rem;
      font-weight: 700;
    }
    p {
      @extend %p-text;
      margin-bottom: 2rem;
    }
  }
  .aboutme-image {
    padding: 4rem 1rem 4rem 1rem;
    box-shadow: 0px 2px 15px rgba($mine-shaft, 0.1);
    img {
      width: 100%;
      height: auto;
    }    
  }
}
.blog {
  margin: 6rem 2rem;
  font-size: 1.8rem;
  background: white;
  box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.05);
  .blog-header {
    text-align: center;
    font-family: "Oswald";
    text-transform: uppercase;
    .blog-text {
      padding: 2.2rem 0;
      line-height: 1.2;
    }
    .subtitle {
      font-size: 1.85rem;
      font-weight: 400;
      opacity: 0.5;
      color: $gray;
    }
    .title {
      font-size: 3.2rem;
      letter-spacing: 0.1rem;
      opacity: 0.8;
    }
    img {
      width: 100%;
    }
  }
  .blog-body {
    padding: 2rem;
    line-height: 1.5;
    p {
      @extend %p-text;
    }
    p:first-of-type {
      text-indent: 0rem;
    }
    p .firstletter {
      display: inline-block;
      float: left;
      line-height: 7rem;
      color: $cod-gray;
      font-size: 7rem;
      font-weight: 700;
      padding: 0 1.5rem;
    }
  }
  .blog-footer {
    border-top: 1px solid rgba($gray, 0.2);
    padding: 2rem 1rem;
    a {
      text-align: center;
      text-decoration: none;
      font-size: 3rem;
      text-transform: uppercase;
      color: $cod-gray;
      font-weight: 300;
      letter-spacing: 8px;
      h2 {
        margin: 1.5rem 0;
      }
      span {
        transition: all 0.2s ease;
      }
      &:hover span {
        padding-left: 10px;
        transition: all 0.2s ease;
      }
    }
    .tag {
      display: inline-block;
      font-size: 1.4rem;
      background-color: #e74c3c;
      border-radius: 2rem;
      color: white;
      padding: 0.8rem 1.2rem;
      margin: 1rem 0.2rem;
    }
    .date span {
      position: relative;
      display: block;
      z-index: 2;
    }
    .date .date-background {
      background: #e74c3c;
      opacity: .7;
      width: 120px;
      height: 10px;
      position: absolute;
      top: 8px;
    }
  }
}
.quote-of-day {
  will-change: transform;
  transition: background 0.2s ease-out, color 0.2s ease-out;
  box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.05);  
  background: white;
  font-size: 2.4rem;
  font-family: "Playfair Display";
  text-align: center;
  padding: 2rem;
  font-style: italic;
  margin: 0 2rem;
  .quote {
    color: $tundora;
    opacity: 0.6;
    line-height: 1.4;
    padding: 3rem 0;
    margin: 1.5rem;
    border-top: 0.1rem dashed rgba($tundora, 0.2);
    border-bottom: 0.1rem dashed rgba($tundora, 0.2);
  }
  .author {
    margin: 2rem 0;
    opacity: 0.8;
  }
}
.quote-of-day:hover {
  transition: background 0.2s ease-out, color 0.2s ease-out;  
  background: $mine-shaft;
  .quote {
    border-top: 0.1rem dashed rgba($tundora, 1);
    border-bottom: 0.1rem dashed rgba($tundora, 1);
  }
  .quote, .author {
    opacity: 1;
    color: white;
  }
}