.navbar {
  color: white;
  text-align: center;
}
input[type=checkbox] {
  display: none;
}
.navbar-top-menu {
  @extend %navbar-long;
  display: flex;
  align-items: center;
  justify-content: center;
  span::before,
  span {
    font-size: 4.5rem;
    display: inline-block;
  }
}
.navbar-dropdown {
  display: none;
}
#menu-dropdown:checked + .navbar-dropdown {
  position: fixed;
  display: block;
  z-index: 1;
  left: 0;
  right: 0;
  background-color: white;
  color: $gray-ish-mine-shaft;
  text-align: left;
  a {
    font-size: 1.8rem;
    margin: 15px 0;
    padding: 10px 15px;
    display: block;
    border-bottom: 1px solid rgba($mine-shaft, 0.1);
  }
  ul li {
    width: 100%;
  }
  li {
    padding-left: 10px;
    display: block;
  }
  a.title {
    font-weight: bold;
  }
  a:last-of-type {
    margin-bottom: 0;
  }
  border-bottom: 3px solid $mine-shaft;
}
.navbar-social {
  position: relative;
  @extend %navbar-long;
  border-top: 1px solid $ligther-mine-shaft;
  .icons {
    height: 100%;
    display: inline-block;
    margin-left: 30px;
  }
  .social-link {
    display: inline-block;
    font-size: 1.6rem;
    height: 100%;
    width: 33px;
    text-align: center;
    a {
      color: white;
      text-decoration: none;
    }
    span {
      display: inline-block;
      padding: 21.5px 0;
    }
  }
  .search-box,
  .icons {
    display: inline-block;
  }
  .search-box {
    float: right;
    position: relative;
    width: 60px;
    height: 100%;
    background-color: $ligther-mine-shaft;
    font-size: 2.5rem;
    text-align: center;
    padding: 17.5px 0;
  }
  .search-box-input {
    display: none;
    position: absolute;
    padding: 15px;
    background-color: $ligther-mine-shaft;
    input {
      border: 0;
      outline: 0;
      background-color: $ligther-mine-shaft;
      color: white;
      text-transform: uppercase;
      letter-spacing: 0.6px;
    }
    input::placeholder {
      text-transform: uppercase;
      letter-spacing: 0.6px;
      opacity: 0.8;
    }
  }
  #search:checked + .search-box-input {
    display: block;
    position: absolute;
    right: 0;
  }
}
.logo-wrapper {
  width: 100%;
  background: $cod-gray;
  padding: 60px 0;
  .logo-image,
  .logo-link {
    max-width: 313px;
    height: auto;
  }
}