doctype html
html
  head
    title Blog
    if config.entry.css.inline
      link(rel="stylesheet", href=`${inlinePath}`, inline)
    //- link(rel="stylesheet" href="style.css")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
  body
    include _component/layout/layout